.projects-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.projects-container h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: #333;
}

.projects-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project-card {
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-content {
    padding: 1.5rem;
    text-align: left;
}

.project-content h2 {
    font-size: 1.75rem;
    color: #333;
    margin-bottom: 1rem;
}

.project-content p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
}

.project-responsibilities,
.project-date {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
}
